
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501745172301'); /* IE9*/
  src: url('iconfont.eot?t=1501745172301#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501745172301') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501745172301') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501745172301#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shizhong:before { content: "\e638"; color: red;}

.icon-open-right:before { content: "\e632"; }

.icon-sousuo:before { content: "\e69b"; }

.icon-iconfontchevronrightcopy:before { content: "\e672"; }

.icon-e:before { content: "\e62d"; }

.icon-shangsheng:before { content: "\e605"; }

.icon-xiala:before { content: "\e66e"; }

